<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <form
      class="example-form"
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="login()"
    >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="campoEsValido('email')"
            >Debe ser un email válido</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            [type]="!hide ? 'password' : 'text'"
            placeholder="Contraseña"
            formControlName="password"
          />
          <mat-icon (click)="hide = !hide" matSuffix>{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error *ngIf="campoEsValido('password')"
            >Contraseña requerida</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <!-- Buttons -->
      <div fxLayout="column" fxLayoutGap=" 5px">
        <button
          mat-flat-button
          color="primary"
          class="btn-block"
          type="submit"
          [disabled]="miFormulario.invalid"
        >
          Iniciar sesión
        </button>
        <button
          mat-stroked-button
          color="link"
          class="btn-block"
          routerLink="/auth/registro"
        >
          Ir a Registrarse
        </button>
      </div>
      <!-- Fin buttons -->
    </form>
  </mat-card>
</div>
