<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <!-- Menu toolbar -->
    <mat-toolbar color="primary">
      <!-- <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar>

    <!-- Listado del menu -->
    <mat-nav-list>
      <a
        [routerLink]="[homeMenu.ruta]"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>{{ homeMenu.icon }}</mat-icon>
        <span>{{ homeMenu.texto }}</span>
      </a>

      <!-- Menu item del component -->
      <a
        *ngFor="let item of authMenu"
        [routerLink]="[item.ruta]"
        routerLinkActive="active"
        mat-list-item
        (click)="sidenav.toggle()"
      >
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.texto }}</span>
      </a>

      <!-- <a routerLink="./registro" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>app_registration</mat-icon>
        <span>Registrarse</span>
      </a> -->
    </mat-nav-list>
    <!-- Fin Listado del menu -->
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Menu</span> -->
    <!-- <button mat-raised-button (click)="logout()">Logout</button> -->
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
