<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <!-- Menu toolbar -->
    <mat-toolbar color="primary"> </mat-toolbar>

    <!-- Listado del menu -->
    <mat-nav-list>
      <!-- Auth menu -->
      <div *ngIf="!isLogged">
        <app-auth-menu (click)="sidenav.toggle()"></app-auth-menu>
      </div>

      <!-- Admin menu -->
      <div *ngIf="isAdmin">
        <app-admin-menu (click)="sidenav.toggle()"></app-admin-menu>
      </div>
    </mat-nav-list>
    <!-- Fin Listado del menu -->
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- btn logout-->
    <div *ngIf="isLogged" fxLayout="row" fxFlex fxLayoutAlign="end">
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </div>
  </mat-toolbar>

  <!-- Content -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
