<div fxLayout="column" fxLayoutAlign="center center">
  <img
    class="image-cont animate__animated animate__rubberBand"
    [src]="data.imageSrc"
  />

  <h1 mat-dialog-title>{{ data.exito ? "Genial!" : "Ooops!" }}</h1>
  <div mat-dialog-content>
    {{ data.msg || "No se pudo completar la acción" }}
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      [color]="data.exito ? 'primary' : 'warn'"
      mat-dialog-close="true"
    >
      Cerrar
    </button>
  </div>
</div>
